html, body{
     position: absolute;
     height: 100%;
     max-height: 100%;
     width: 100%;
     margin: 0;
     padding: 0;
}
body {
	background:#f9f9f9 url('sidebar.gif') repeat-y left top;
}

p 		{ margin:0; padding:0; }
img		{ border:none; }
.clear 	{ clear:both; }

/* -- */

#wrapper {
	min-height:100%;
	margin:0 auto;
	padding:0 0 20px 0;
	position:relative;
	min-width:880px;
}
* html #wrapper {
	height:100%;
}

/* -- */

#container:after {
	content:" ";
	display:block;
	clear:both;
}
#sidebar {
	float:left;
	width:180px;
	text-align:right;
}
#content {
	position:relative;
	margin-left:200px;
	margin-right:20px;
	min-width:620px;
}

/* extra */

#extra-container{
	min-width:600px;
	padding-bottom:80px;
}
#extra-container:after {
	content:" ";
	display:block;
	clear:both;
}
#extra-sidebar {
	float:right;
	width:300px;
}
#extra-content {
	position:relative;
	margin-right:320px;
}

/* sitename */

#sitename {
	margin:4px 0 0 0;
	padding:0;
}
