h2 {
    margin:10px 0px 10px 0px;
    padding:0px;
    font-size:28px;
    color:#555;
}
h3 {
	font-size: 13px;
}
a {
    color:#2175bd;
    text-decoration:none;
    font-weight:bold;
    outline:none;
}
ul { 
		list-style: none;
}
a:link, a:visited {color:#2175bd;}
a:hover { text-decoration:none; color:#db2020; }

p.back, p#medias_back { margin: 10px 0 10px 0; }
p.back a:before, p#medias_back a:before  {content:"\00AB\00A0"; }
p.breadcrumbs { margin: 5px 0 5px 0 }

a.help {
    padding:0 0 0 16px;
    margin:0 0 0 2px;
    width:16px;
    cursor:help;
    background:url('images/help.gif') no-repeat 0 0;
}

a.selected {color:#444 !important}

.center { text-align:center; }
.left { text-align:left; }
.right { text-align:right; }
.top { vertical-align:top }

a.hcolumn {
    color:#000;
    text-decoration:underline;
}
a.hcolumn:hover {
    color:#000;
    text-decoration:none;
}
#sitename {
    margin:0;
    padding:0;
    font-size: 12px;
    color: #888;
}

/* index.php */
.quicksearch {
    float:right;
    padding-top:18px;
}

/* install.php */
.panel ul {
    list-style: none;
}
.panel ul li {
    padding:2px 0 2px 0;
}

/* Form + fieldset */
fieldset {
    border:0;
    margin:0 0 10px;
    padding:0 0 14px 0;
    width:100%;
}
fieldset p, #p_content, #p_chapo {
    clear:both;
    padding:5px 0 2px 0 !important;
}
fieldset p.field label {
    float:left;
    width:300px;
    padding-right: 15px;
}
fieldset.config p  {
    padding:8px 0 2px 0 !important;
}
fieldset.config label {
    padding-top:10px;
}
fieldset.config select {
    margin-top:7px;
}
fieldset p.field {
    clear:both;
    margin:0;
    padding:0 0 2px 0;
}
fieldset.config input[type=text] {
    margin-top:5px;
    width: 300px;
}
fieldset input[type=text].fieldnum  {
    width: 40px;
}
textarea {
    width:98%;
    border:1px solid #bbb;
}
input {
    border:1px solid #bbb;
    cursor:pointer;
}
input:hover {
    background:#DDF0F8;
}
input[type=checkbox], input[type=radio]  {
    border:0;
}
input[type=text], input[type=password] {
    padding:3px 5px 3px 5px !important;
}
input[type=text]:focus, input[type=password]:focus, textarea:focus, select:focus {
    outline:none;
    color:#222;
    border:1px solid #77BACE;
}
input[type=submit] {
    margin: 0 2px 0 2px;
    background-color:#dedede;
    border:1px solid #A8A9A8;
    color:#555;
    padding:2px 5px 2px 5px !important;
}
input[type=submit]:hover {
    color:#000;
    background-color: #bbb ;
}
.select {
    background-color:#333 !important;
    color:#fff !important;
}
.readonly, .readonly:hover {
    background-color:#dedede;
}
.fld1 {
    width: 20px;
}
.fld2 {
    width: 35px;
}
#extra-content #id_title { width: 96% }

/* Pagination */
#pagination {
    width:100%;
    text-align:left;
    margin:10px auto 10px auto;
    padding:10px 0 10px 0;
}
#pagination span {
    border:1px #dedede solid;
    padding:3px 5px 3px 5px;
    margin-right:5px;
}

/* Medias */
#files_manager{
    margin-top: 15px;
    min-width:700px;
}
#files_manager ul {
    list-style: none;
}
#files_manager .manager {
    margin-bottom: 10px;
    float:left;
    width:100%;
}
#files_manager .uploader {
    margin-bottom: 10px;
    float:right;
}
#files_manager .browser {
    float:left;
    margin:10px 0 20px 0;
}
#files_manager .browser  .folder {
    width: 300px;
}
#files_manager .create {
    float:right;
}
#files_manager .files {
    float:left;
    width:100%;
}
#files_manager .files table {
    margin:0 0 15px 0;
}
/* --- */
#files_uploader {
    margin-top: 15px;
    display:none;
}
#files_uploader .manager {
    float:left;
}
#files_uploader .uploader {
    float:right;
}
#files_uploader .files_list{
    margin: 15px 0 15px 0;
}
#files_uploader .options1{
    clear:both;
    float:left;
    width: 300px;
}
#files_uploader .options2{
    float:left;
    width: 300px;
}
#files_uploader ul {
    list-style:none;
}
#files_uploader ul li {
    margin: 3px 0 0 3px !important;
}
.rowfile {
    clear:both;
    float:left;
    margin:0;
    padding:0 0 5px;
}
a.btnDelete{
    margin:0;
    padding:0;
    outline: none;
    float:left;
    display:inline;
}
.divtitle {
    margin: 2px 0 0 5px;
    padding:0;
    float:left;
}
#btn_upload {
    clear:both;
    float:left;
}

/* Table */
.table {
    width:100%;
    border: 1px #dedede solid;
    margin:15px 0 10px 0;
    border-collapse:collapse;
}
thead {
    background-color:#ddd;
    color:#000;
    text-align:left;
}
th {
    text-align:left; /* IE */
}
th, tr, td {
    padding: 8px 4px 8px 4px;
}
tr.new {
    background-color:#e0e0e0;
}
tr.line-0 {
    background-color:#ffffff;
}
tr.line-1 {
    background-color:#f5f5f5;
}
tr.plugins-0 {
    background-color:#efefef;
    height:60px;
    font-size:11px;
}
tr.plugins-0 a {
    color:#999;
}
tr.plugins-1 {
    background-color:#fff;
    height:60px;
    font-size:11px;
}

th.checkbox { width: 5px; }
th.date { width:65px; }
th.title , th.message { white-space: nowrap;}
th.category { width:250px; white-space: nowrap; }
th.nbcoms { width: 50px;  white-space: nowrap;}
th.author, td.author  { width:150px; white-space: nowrap; }
th.action , td.action { width: 150px; white-space: nowrap;}

th.datetime, td.datetime { width:120px; white-space: nowrap; }
th.image { width: 60px; }
th.infos {width:90px;}
th.description { width: 90%; }
th.col { width: 10%; }
th.icon { width: 50px; }

td.config { width: 170px; text-align:right; }

/* Nouvel article */
p.field_head {
    background-color: #dedede;
    margin: 40px 15px 0 0;
    padding: 5px 15px 5px 5px;
}

/* Commentaires */
#comments blockquote {
    border:1px solid #ddd;
    padding: 5px 10px 5px 10px;
}
.type-normal {
    background-color: #fff;
}
.type-admin {
    background-color: #fffdea !important;
}

/* Messages */
.warning {
    margin: 10px 320px 10px 0;
    padding: 10px 5px 10px 20px;
    border: 1px solid #df8f8f;
    font-size: 13px;
    width:96%;
    background-color: #ffcece;
}
.notification {
    position:absolute;
    top:-1px;
    z-index:9999;
    padding: 2px 15px 2px 15px;
    border: 1px solid;
    font-size: 13px;
    font-weight:bold;
    color:#000 !important;
}
.error {
    background-color: #ffcfcf;
    border-color: #df8f8f;
}
.success {
    background-color: #fff1a8;
    border-color: #e6db55;
}