/*
	Package:       theme.css
    Author:        PluXml    
    Author URI:    http://www.pluxml.org
*/

.auth {
	margin-top: 10%;
	overflow: hidden;
	border: #bbb solid 1px;
}
.auth .error {
	background-color: #fce4e2;
	color: #e43d29;
	padding: .3rem .6rem;
	text-align: center;
}
.auth input[type="password"],
.auth input[type="text"] {
	color: #444;
}
.main.grid {
	margin-right: 0;
}
.aside {
	background-color: #222;
	bottom: 0;
	overflow: auto;
	padding-right: 0;
	position: fixed;
	top: 0;
}
h1.site-name {
	color: #fff;
	font-weight: bold;
}
.aside,
.aside a {
	color: #eee;
}
.aside .header {
	padding: 0 .5rem;
}
.aside .header li {
	line-height: 1.2;
}
.aside .header .version {
	color: #aaa;
}
.aside .menu.expanded .badge {
	background-color: #e43d29;
}
.aside .menu.expanded li:hover {
	background-color: #444;
}
.aside .menu-config {
	background-color: #333;
}
.section {
	left: 16.6666%;
	margin: 5rem 0 2rem 0;
}
.action-bar {
	background-color: #ddd;
	left: 16.6666%;
	margin-left: -1rem;
	padding: .5rem 1.2rem;
	position: fixed;
	top: 0;
	width: 100%;
}
.action-bar p,
.action-bar ul {
	margin: .5rem 0 0 0;
}
@media (max-width: 1023px) {
	.action-bar,
	.section {
		left: 25%;
	}
}
@media (max-width: 767px) {
	.auth {
		margin-top: 0;
	}
	.action-bar,
	.aside {
		position: relative;
	}
	.action-bar,
	.section {
		left: 0;
	}
	.action-bar {
		background-color: inherit;
		margin: 0;
		padding: 0;
	}
	.section {
		margin-top: 0;
		padding: 0 .5rem 0 1.5rem;
	}
}
.selected {
	color: #444;
}
.p_page {
	display: inline-block;
}
.p_page:first-letter {
	text-transform: uppercase;
}
a.btnDelete,
.divtitle  {
	display: inline;
}
button,
input,
select,
textarea {
	width: auto;
}